<div (mouseenter)="card.showCloseButton=true" (mouseleave)="card.showCloseButton=false" class="position-relative">
  <br>
  <!--Переписать когда нормальный доступ будет-->
  <img src="http://93.91.165.233:8081/frontend_data/{{card.image}}" alt="{{card.image}}">
  <button type="button" class="close position-absolute inner" aria-label="Close" *ngIf="card.showCloseButton"
          (click)="closeCard(card)">
    <span aria-hidden="true">&times;</span>
  </button>
  <div>{{card.id}}Дата:{{card.timestamp}}, размер- {{card.filesize}}</div>
</div>
