<div class="btn-group" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-secondary btn-group" *ngIf="currentPage!=1"
          (click)="getPage(1)">   <<  </button>
  <button type="button" class="btn btn-secondary btn-group" *ngFor="let page of pages" (click)="getPage(page)">
    {{page}}
  </button>
  <button type="button" class="btn btn-secondary btn-group" *ngIf="currentPage!=pageArray.length"
          (click)="getPage(pageArray.length)">    >>  </button>

</div>
