<div *ngIf="category">
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <img src="http://93.91.165.233:8081/frontend_data/{{streamService.img}}" *ngIf="category">

        </div>
      </div>
    </div>
  </div>
  <div class="thumbnail" data-toggle="modal" data-target="#exampleModal" *ngIf="category&&category.image"
       (click)="update(category)">

    <img src="http://93.91.165.233:8081/frontend_data/{{category.image}}" *ngIf="category&&category.image">
  </div>
  <span *ngIf="category">{{category.category||category.name}}</span>
  <i class="fa fa-caret-up" aria-hidden="true" *ngIf="category&&category.children&&isOpen" (click)="isOpen=false"></i>
  <i class="fa fa-caret-down" aria-hidden="true" *ngIf="!isOpen&&category&&category.children" (click)="isOpen=true"></i>

  <ul *ngIf="category&&category.children&&isOpen">
    <app-tree-view *ngFor="let child of category.children" [category]="child"></app-tree-view>
  </ul>

</div>
